<!DOCTYPE html>
<html>
    <head>
        <title>travel project</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="travelApp">
        
        <h1>reservation form test</h1>
        <reservation-form></reservation-form>
        <br>
        <h1>contact form test</h1>
        <contact-form></contact-form>
        
        <script type="text/javascript" src="/node_modules/angular/angular.js">
        </script>
        <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/code/scripts/app.js"></script>
        <script type="text/javascript" src="/code/scripts/controllers/navBarCtrl.js"></script>
        <script type="text/javascript" src="/code/scripts/directives/navBar.js"></script>
        <!--<script type="text/javascript" src="/code/scripts/controllers/reservationCtrl.js"></script>
        <script type="text/javascript" src="/code/scripts/services/reservationService.js"></script>
        <script type="text/javascript" src="/code/scripts/directives/reservationForm.js"></script>
        <script type="text/javascript" src="/code/scripts/controllers/contactCtrl.js">
        </script>
        <script type="text/javascript" src="/code/scripts/services/contactService.js"></script>
        <script type="text/javascript" src="/code/scripts/directives/contactForm.js"></script>-->
    </body>
</html>