<!--
<div class="row, navBarRow">
    <div class="col-md-2">
        <label>LOGO PENDING</label>
    </div>
    <div class="col-md-8">
        <div class="navBarLinks">
            <label>Home</label>
            <label>Destinations</label>
            <label><a href="#!/reservation">Reservation</a>  </label>
            <label><a href="#!/contact">Contact</a></label>
        </div>
    </div>
    <div class="col-md-2">
        <label>PENDING</label>
    </div>
</div>
<div ng-view></div>
-->

<div>
    <ul class="navBarList">
        <li><label><a>Home</a></label></li>
        <li><label><a>Destinations</a></label></li>
        <li><label><a href="#!/reservation">Reservation</a>  </label></li>
        <li><label><a href="#!/contact">Contact</a></label></li>
    </ul>
</div>
<div ng-view></div>
