<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" name="contactForm" novalidate>
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>

                        <div class="form-group" ng-class="{'has-error': contactForm.firstname.$invalid && contactForm.firstname.$dirty}">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input type="text" name="firstname" ng-model="contactModule.firstname" placeholder="Firstname" class="form-control" required>
                                <span class="error" ng-show="contactForm.firstname.$error.required && contactForm.firstname.$dirty">Firstname Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': contactForm.lastname.$invalid && contactForm.lastname.$dirty}">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input type="text" name="lastname" ng-model="contactModule.lastname" placeholder="Lastname" class="form-control" required>
                                <span class="error" ng-show="contactForm.lastname.$error.required && contactForm.lastname.$dirty">Lastname Required</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : contactForm.email.$invalid && contactForm.email.$dirty}">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input type="email" name="email" ng-model="contactModule.email" placeholder="Email Address" class="form-control" required>
                                <span class="error" ng-show="contactForm.email.$error.required && contactForm.email.$dirty">Email Required</span>
                                <span class="error" ng-show="contactForm.email.$error.email && contactForm.email.$dirty">Invalid Email Format</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input type="text" name="phone" ng-model="contactModule.phone" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="contactModule.message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" ng-disabled="contactForm.$invalid" ng-click="clickObj.contactDetail(contactModule)">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }
    
    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>









<!--<form name="contactInput">
    <div class="row">
        <div class="col-md-4">
            <label>Subject:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="messageSubject" class="form-control" ng-model="contactEntryModel.msgSubject">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label>First Name:</label>
        </div>
        <div class="col-md-2">
            <label>Last Name:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input type="text" name="firstname" class="form-control" ng-model="contactEntryModel.msgFirstName">
        </div>
        <div class="col-md-2">
            <input type="text" name="lastname" class="form-control" ng-model="contactEntryModel.msgLastName">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label>Email:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="email" name="email" class="form-control" ng-model="contactEntryModel.msgEmail">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <label>Message:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="messageContent" class="form-control" ng-model="contactEntryModel.msgContent">
        </div>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-info" ng-click="contactEntryFunctions.addContact()">Send</button>
    </div>
</form>-->