<div class="container">
    <div class="row">
        <section class="masonry-section-demo">
            <div class="section-title">
                <h2>Destinations</h2>
            </div>
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-thumbnail" src="/assets/images/turkey.jpg" alt="Generic placeholder image" width="304" height="304">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Turkey</h4>
                        <p>
                            Is a nation straddling eastern Europe and western Asia with cultural connections to ancient Greek, Persian, Roman, Byzantine and Ottoman empires. Cosmopolitan Istanbul, on the Bosphorus Strait, is home to the iconic Hagia Sophia, with its soaring dome and Christian mosaics, the massive 17th-century Blue Mosque and the circa-1460 Topkapı Palace, former home of sultans. Ankara is Turkey’s capital
                        </p>
                        <p><a href="#" class="btn btn-danger pull-right" role="button">Button</a></p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object img-thumbnail" src="/assets/images/usa.jpg" alt="Generic placeholder image" width="304" height="304">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">USA</h4>
                        <p>
                            Is a country of 50 states covering a vast swath of North America, with Alaska in the northwest and Hawaii extending the nation’s presence into the Pacific Ocean. Major Atlantic Coast cities are New York, a global finance and culture center, and capital Washington, DC. Midwestern metropolis Chicago is known for influential architecture and on the west coast, Los Angeles' Hollywood is famed for filmmaking.
                        </p>
                        <p><a href="#" class="btn btn-danger pull-left" role="button">Button</a></p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-thumbnail" src="/assets/images/india.png" alt="Generic placeholder image" width="304" height="304">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">India</h4>
                        <p>
                            India is a vast South Asian country with diverse terrain – from Himalayan peaks to Indian Ocean coastline – and history reaching back 5 millennia. In the north, Mughal Empire landmarks include Delhi’s Red Fort complex and massive Jama Masjid mosque, plus Agra’s iconic Taj Mahal mausoleum. Pilgrims bathe in the Ganges in Varanasi, and Rishikesh is a yoga centre and base for Himalayan trekking.
                        </p>
                        <p><a href="#" class="btn btn-danger pull-right" role="button">Button</a></p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-right" href="#">
                        <img class="media-object img-thumbnail" src="/assets/images/paris.jpg" alt="Generic placeholder image" width="304" height="304">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">France</h4>
                        <p>
                            France in Western Europe, encompasses medieval cities, alpine villages and Mediterranean beaches. Paris, its capital, is famed for its fashion houses, classical art museums including the Louvre and monuments like the Eiffel Tower. The country is also renowned for its wines and sophisticated cuisine. Lascaux’s ancient cave drawings, Lyon’s Roman theater and the vast Palace of Versailles attest to its rich history.
                        </p>
                        <p><a href="#" class="btn btn-danger pull-left" role="button">Button</a></p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
